<!DOCTYPE html>
<html>
<head>
    <title>Sign-up</title>
</head>
<body>
    <h1>Sign-Up</h1>
    <form action="/signup" method="post">
        <p>**IF YOUR COUNTRY CODE IS 91+, ENTER YOUR MOBILE NO. AS 91*******</p>
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="mob" name="mob" placeholder="Mobile No." required>
        <input type="mail" name="mail" placeholder="E-mail" required>
        <input type="submit" value="Sign Up">
    </form>    
    <p>Already have an account? <a href="/loginp">Log in</a></p>
</body>
</html>
